<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "partial/navbar" if user_signed_in? %>

    <% if user_signed_in? %>
      <%= link_to 'サインアウト', destroy_user_session_path, data: {turbo_method: :delete} %>
    <% end %>
    
    <%= render partial: "partial/flash_messages" %>
    <%= yield %>
    
    <%= render 'partial/footer' %>

  </body>
</html>
